html,body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.navbar-inner {
  padding : 10px 0px 10px 0px;
}

.navbar {
  margin-bottom: 0;
}

.search-bar {
  padding-left : 20px;
}

.filter {
  width: 100%;
}

ul {
  list-style-type: none;
}
